.header, .messages, .nav {
    margin: 0px;
}

.nav ul, .messages, ul.errorlist {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #ededed;
}

.header {
    background-color: #555555;
    padding: 10px;
}

.header .logo {
    float: left;
    background: url(/static/NB-logo-red-black-small.png) no-repeat;
    height: 50px;
    width: 50px;
    margin: 0px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.site_title {
    float: left;
    padding: 10px 20px 0px 20px;
    font-size: 25px;
    display: block;
    font-weight: bold;
}

.login {
    float: right;
    padding: 15px 10px 0px 0px;
}

.login a, .nav a {
    text-decoration: none;
    color: #c3c3c3;
}

.login_item {
    float: left;
    border-left: 1px solid #2a2a2a;
    margin-left: 5px;
    padding-left: 5px;
}

.login_item:first-child {
    border-left: medium none;
    margin-left: 0px;
    padding-left: 0px;
}

.nav {
    background-color: #2a2a2a;
}


.nav li {
    float: left;
}

.nav a {
    display: block;
    padding: 10px 20px;
}

.nav a:hover {
    background-color: #3f3f3f;
}

.container {
    margin: 0 auto;
    width: 50%;
}

.messages .container{
    text-align: center;
}

.messages {
    position: absolute;
    list-style: none;
    width: 50%;
}

.messages li {
    background-color: #FCF9CE;
    border: 1px solid #CBC787;
    opacity: 0.8; /* Chrome 4+, FF2+, Saf3.1+, Opera 9+, IE9, iOS 3.2+, Android 2.1+ */
        filter: alpha(opacity=80); /* IE6-IE8 */
    -webkit-border-radius: 4px;
            border-radius: 4px;
    /*keeps background color from bleeding through the corners*/
    -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    text-align: center;
    margin: 4px 0px;
    padding: 6px 10px;
    font-size: 80%;
    font-weight: bold;
    display: inline-block;
}

.content {
    padding: 10px 0px 10px 10px;
    background-color: #a5a5a5;
}

.footer {
    background-color: #2a2a2a;
    padding: 10px 0px;
}

.small {
    float: right;
    color: #c3c3c3;
}

.error_notification {
    color: red;
}

.errorlist li {
    background-color: red;
    color: white;
    display: block;
    margin: 0 0 3px;
    padding: 4px 5px;
}

/* Clearfix hack: properly contains floats*/
/* For modern browsers */
.cf:before,
.cf:after {
    content:"";
    display:table;
}

.cf:after {
    clear:both;
}

/* For IE 6/7 (trigger hasLayout) */
.cf {
    zoom:1;
}
