*.pyc
*.pyo
.installed.cfg
bin
develop-eggs
dist
downloads
eggs
parts
*.egg-info
*.egg
.mr.developer.cfg
*.DS_Store
build
mydatabase.db
*.log
src/noisebridge.pyclass/noisebridge/pyclass/media/**

src/noisebridge.pyclass/noisebridge/pyclass/static/compass_app_log.txt
src/noisebridge.pyclass/noisebridge/pyclass/static/.sass-cache/