{% load i18n %}
<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>NoiseList | {% block title %}Home{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet"  />
    <script src="{{ STATIC_URL }}js/modernizr-2.5.3.min.js"></script>

</head>

<body>
    <header class="header cf">
        {% block header %}
            <a href="/" title="Noisebridge" class="logo">Noisebridge</a>
            <div class="site_title">Noiselist</div>
            <div class="login">
            	{# <a href="{% url index %}">{% trans "Home" %}</a> | #}

                {% if user.is_authenticated %}
                    <a class="login_item" href="{{ user.get_absolute_url }}">{{ user.username }}</a>
                    <a class="login_item" href="{% url user_settings %}">{% trans "Settings" %}</a>
                    <a class="login_item" href="{% url auth_logout %}">{% trans "Log out" %}</a>
                {% else %}
                    <a class="login_item" href="{% url auth_login %}">{% trans "Log in" %}</a>
                    <a class="login_item" href="{% url registration_register %}">{% trans "Register" %}</a>
                {% endif %}
            </div>
        {% endblock header %}
    </header>

    <nav class="nav cf">
        <ul>
            <li><a href="/">{% trans "Home" %}</a></li>
            <li><a href="{% url search_interests %}">{% trans "Search" %}</a></li>
            <li><a href="#">{% trans "ToDo" %}</a>
                <ul>
                    <li><a href="{% url todo_list %}">{% trans "List All Tasks" %}</a></li>
                    <li><a href="{% url add_todo %}">{% trans "Add Task" %}</a></li>
                    <li><a href="#">{% trans "Add Tag" %}</a></li>
                    <li><a href="{% url whatcanido %}">{% trans "What Can I Do?" %}</a></li>
                </ul>
            </li>
            <li><a href="{% url add_interest %}">{% trans "Add Interest" %}</a></li>
        </ul>
    </nav>

    <section class="content cf">
        {% if messages %}
            <div class="container">
                <ul class="messages">
                    {% for message in messages %}
                    <div class="container">
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    </div>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        {% block content %}{% endblock content %}
    </section>

    <footer class="footer cf">
        {% block footer %}
        <small class="small">Noisebridge 2012</small>
        {% endblock footer %}
    </footer>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/jquery-1.7.1.min.js"><\/script>')</script>

  <!--<script src="js/plugins.js"></script>
  <script src="js/script.js"></script> -->

  <script>
</body>

</html>
