{% load i18n %}
<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>NoiseList | {% block title %}Home{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico" />
    <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet"  />
    <script src="{{ STATIC_URL }}js/modernizr-2.5.3.min.js"></script>

</head>

<body>
    <div class="container"> <!-- Start Containter Center page -->
        {% block header %}
        <header>
            <nav>
            <div class="navbar">
                <div class="navbar-inner">
                    <div class="container">
                            <a class="brand" href="/">Noisebridge</a>
                            <ul class="nav mainMenu">
                                <li><a href="{% url search_interests %}">{% trans "Search" %}</a></li>
                                <li class="dropdown"><a href="#" class="dropdown-toggle"data-toggle="dropdown">{% trans "ToDo" %}<b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{% url todo_list %}">{% trans "List All Tasks" %}</a></li>
                                        <li><a href="{% url add_todo %}">{% trans "Add Task" %}</a></li>
                                        <li><a href="#">{% trans "Add Tag" %}</a></li>
                                        <li><a href="{% url whatcanido %}">{% trans "What Can I Do?" %}</a></li>
                                    </ul>
                                </li>

                                <li><a href="{% url add_interest %}">{% trans "Add Interest" %}</a></li>
                            </ul>
                                <form class="navbar-search pull-left">
    <input type="text" class="search-query" placeholder="Search">
    </form>
                            <ul class="nav login pull-right">
                                {% if user.is_authenticated %}
                                    <li><a class="login_item" href="{{ user.get_absolute_url }}">{{ user.username }}</a></li>
                                    <li><a class="login_item" href="{% url user_settings %}">{% trans "Settings" %}</a></li>
                                    <li><a class="login_item" href="{% url auth_logout %}">{% trans "Log out" %}</a></li>
                                {% else %}
                                    <li><a class="login_item" href="{% url auth_login %}">{% trans "Log in" %}</a></li>
                                    <li><a class="login_item" href="{% url registration_register %}">{% trans "Register" %}</a></li>
                                {% endif %}
                            </ul>





                    </div>
                </div>
            </div>
            </nav>
        </header>
        {% endblock header %}


        <!-- Message System -->
        {% if messages %}
            {% for message in messages %}
                <div class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %}">
                    <a class="close" data-dismiss="alert" href="#">×</a>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <!-- Main Content Block -->
        {% block content %}
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        {% endblock content %}

        {% block footer %}
        <footer>
            <p>Noisebridge 2012</p>
        </footer>
        {% endblock footer %}

    </div> <!-- End overall container -->







    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery-1.7.1.min.js"><\/script>')</script>
    <script src="{{ STATIC_URL }}js/bootstrap-dropdown.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-alert.js"></script>

  <!--<script src="js/plugins.js"></script>
  <script src="js/script.js"></script> -->

  <script>
</body>

</html>
