{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <link href="{{ STATIC_URL }}css/normalize.css" rel="stylesheet" />
    <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet"  />
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <title>NoiseList | {% block title %}Home{% endblock %}</title>
</head>

<body>
    <header class="header cf">
        {% block header %}
            <a href="/" title="Noisebridge" class="logo">Noisebridge</a>
            <div class="site_title">Noiselist</div>
            <div class="login">
            	{# <a href="{% url index %}">{% trans "Home" %}</a> | #}

                {% if user.is_authenticated %}
                    <a class="login_item" href="{{ user.get_absolute_url }}">{{ user.username }}</a>
                    <a class="login_item" href="{% url user_settings %}">{% trans "Settings" %}</a>
                    <a class="login_item" href="{% url auth_logout %}">{% trans "Log out" %}</a>
                {% else %}
                    <a class="login_item" href="{% url auth_login %}">{% trans "Log in" %}</a>
                    <a class="login_item" href="{% url registration_register %}">{% trans "Register" %}</a>
                {% endif %}
            </div>
        {% endblock header %}
    </header>

    <nav class="nav cf">
        <ul>
            <li><a href="/">{% trans "Home" %}</a></li>
            <li><a href="{% url search_interests %}">{% trans "Search" %}</a></li>
            <li><a href="#">{% trans "ToDo" %}</a>
                <ul>
                    <li><a href="{% url todo_list %}">{% trans "List All Tasks" %}</a></li>
                    <li><a href="{% url add_todo %}">{% trans "Add Task" %}</a></li>
                    <li><a href="{% url whatcanido %}">{% trans "What Can I Do?" %}</a></li>
                </ul>
            </li>
            <li><a href="{% url add_interest %}">{% trans "Add Interest" %}</a></li>
        </ul>
    </nav>

    <section class="content cf">
        {% if messages %}
            <div class="container">
                <ul class="messages">
                    {% for message in messages %}
                    <div class="container">
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    </div>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        {% block content %}{% endblock content %}
    </section>

    <footer class="footer cf">
        {% block footer %}
        <small class="small">Noisebridge 2012</small>
        {% endblock footer %}
    </footer>
</body>

</html>
