{% extends "base.html" %}

{% block title %}
    ToDo List- Page {{ page }}
{% endblock title %}

{% block content %}
    <ul>
        {% for todo in todoitem_list %}
            <li><a href="{{ todo.get_absolute_url }}">{{ todo.name }}</a></li>
        {% endfor %}
    </ul>
    {% if is_paginated %}
        <div class="pagination">
            <span class="step_links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                {% with page_obj.number as current_page  %}
                    {% for page in paginator.page_range %}
                        {% if page == current_page %}
                            {{ page }}
                        {% else %}
                            <a href="?page={{ page }}" class="page_link">{{ page }}</a>
                        {% endif %}
                    {% endfor %}
                {% endwith %}
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page=last">last</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% endblock content %}
