{% extends "base.html" %}
{% load comments %}

{% block content %}
    <h1>{{ todoitem.name }}</h1>
    <p>{{ todoitem.details }}</p>
    <p>Excellence: {{ todoitem.excellence }}</p>
    <p>Due: {{todoitem.due }}</p>
    <p>Importance: {{ todoitem.importance }}</p>
    <p>Status: {{ todoitem.status }}</p>
    {% if todoitem.status == 'C' %}
		<p>Completed by: {{ todoitem.completed_by }}</p>
		<p>Completed on: {{ todoitem.completion_date }}</p>
    {% endif %}
    
	<ul>
	{% for interest in todoitem.interests.all %}
		<li><a href={{ "interest.get_absolute_url" }}>{{ interest.name }}</a></li>
	{% endfor %}
	</ul>	   
	
	<ul>
	{% for tag in todoitem.tags.all %}
		<li><a href={{ "tag.get_absolute_url" }}>{{ tag.name }}</a></li>
	{% endfor %}
	</ul>
	
	<ul>
	{% for user in todoitem.users_claimed.all %}
		<li><a href={{ "user.get_absolute_url" }}>{{ user.username }}</a></li>	    
	{% endfor %}
	</ul>
	
	<p>Creator: {{ todoitem.creator }}</p>
	<p>Created on: {{ todoitem.creation_date }}</p>
	
    {% get_comment_count for todoitem as comment_count %}
    <hr>
    <p>This item has {{ comment_count }} comment{{ comment_count|pluralize }}.</p>
    {% render_comment_list for todoitem %}
    <hr>
    <p>Add a comment</p>
    {% render_comment_form for todoitem %}
{% endblock content %}
