{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}
    {{ user.username }} - Settings
{% endblock title %}

{% block content %}
    <h1>User Settings</h1>
    <a class="btn" href="{% url auth_password_change %}">Change password</a>
    <a class="btn" href="{% url reset_avatar %}">Reset avatar to default</a>
    <form enctype="multipart/form-data" action="." method="post">
        {% csrf_token %}
        <table>
            {{ user_form|crispy }}
            {{ profile_form|crispy }}
        </table>
        <input class="btn btn-primary" type="submit" value="Update Settings">
    </form>
{% endblock content %}
