{% extends "base.html" %}
{% load i18n %}

{% block title %}
    {% if not requested_user %}
        No Such User
    {% else %}
        {{ requested_user.username }}
    {% endif %}
{% endblock title %}

{% block content %}
    {% if not requested_user %}
        <p>User "<strong>{{ user_name }}</strong>" does not exist.</p>
    {% else %}
        <h1>{{ requested_user.username }}
            {% if requested_user.get_full_name %}
                ({{ requested_user.get_full_name }})
            {% endif %}
        </h1>
        <p><img src="{{ profile.avatar.url }}" alt="Avatar"></p>
        <p>E-mail: <a href="mailto:{{ requested_user.email }}">{{ requested_user.email }}</a></p>
        <p>Excellence: {{ profile.excellence }}</p>
        {% if profile.biography %}
            <h2>Bio</h2>
            <p>{{ profile.biography }}</p>
        {% endif %}
        <h2>Interests</h2>
        <ul>
            {% for interest in profile.interests.all %}
                <li><a href="{{ interest.get_absolute_url }}">{{ interest.name }}</a></li>
            {% endfor %}
        </ul>
        <h2>Tasks</h2>
        <hr>
        {# The number of items to display for each category #}
        {% with display=5 %}
            <h3>Tasks Claimed</h3>
            <ul>
                {% for todo in requested_user.todos_claimed.all %}
                    {% if forloop.counter <= display %}
                        <li><a href="{{ todo.get_absolute_url }}">{{ todo.name }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
            {% if requested_user.todos_claimed.all|length > display %}
                <a href="#">More</a>
            {% endif %}
            <h3>Tasks Created</h3>
            <ul>
                {% for todo in requested_user.todos_created.all %}
                    {% if forloop.counter <= display %}
                        <li><a href="{{ todo.get_absolute_url }}">{{ todo.name }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
            {% if requested_user.todos_created.all|length > display %}
                <a href="#">More</a>
            {% endif %}
            <h3>Tasks Completed</h3>
            <ul>
                {% for todo in requested_user.todos_completed.all %}
                    {% if forloop.counter <= display %}
                        <li><a href="{{ todo.get_absolute_url }}">{{ todo.name }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
            {% if requested_user.todos_completed.all|length > display %}
                <a href="#">More</a>
            {% endif %}
        {% endwith %}
    {% endif %}
{% endblock content %}
