{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}
    {{ user.username }} - Settings
{% endblock title %}

{% block content %}
    <h1>User Settings</h1>
    {% if user_form.errors %}
        <p class="error_notification">Please correct the error{{ user_form.errors|pluralize }} below. </p>
    {% elif profile_form.errors %}
        <p class="error_notification">Please correct the error{{ profile_form.errors|pluralize }} below. </p>
    {% endif %}
    <a href="{% url auth_password_change %}">Change password</a>
    <a href="{% url reset_avatar %}">Reset avatar to default</a>
    <form enctype="multipart/form-data" action="." method="post">
        {% csrf_token %}
        <table>
            {{ user_form|crispy }}
            {{ profile_form|crispy }}
        </table>
        <input type="submit" value="Update Settings">
    </form>
{% endblock content %}
