body {
    background-color: #ededed;
}

.header {
    background-color: #555555;
    margin: 0;
    padding: 10px;
}

.header .logo {
    float: left;
    background: url(/static/NB-logo-red-black-small.png) no-repeat;
    height: 50px;
    width: 50px;
    margin: 0;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.site_title {
    float: left;
    padding: 0px 20px;
    font-size: 24px;
}

.login {
    float: right;
    padding: 15px 10px 0px 0px;
}

.login a, .nav a {
    text-decoration: none;
    color: #c3c3c3;
}

.nav {
    margin: 0;
    background-color: #2a2a2a;
}

.nav ul {
    margin: 0;
    padding: 0;
}

.nav li {
    float: left;
}

.nav a {
    display: block;
    padding: 10px 20px;
}

.nav a:hover {
    background-color: #3f3f3f;
}

.content {
    padding: 50px 0px 10px 10px;
    background-color: #a5a5a5;
}

.footer {
    background-color: #2a2a2a;
    padding: 10px 0px;
}

.small {
    float: right;
    color: #c3c3c3;
}

ul.errorlist {
    margin: 0;
    padding: 0;
}

.errorlist li {
    background-color: red;
    color: white;
    display: block;
    margin: 0 0 3px;
    padding: 4px 5px;
}

/* Clearfix hack: properly contains floats*/
/* For modern browsers */
.cf:before,
.cf:after {
    content:"";
    display:table;
}

.cf:after {
    clear:both;
}

/* For IE 6/7 (trigger hasLayout) */
.cf {
    zoom:1;
}
